<mat-card>
  <mat-card-title>All Instruks</mat-card-title>

  <mat-card-content>
    <div style="margin-bottom: 12px;">
      <button mat-raised-button color="primary" [routerLink]="['/categories']">
        Go to Categories
      </button>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let i"> {{ i.title }} </td>
      </ng-container>

      <ng-container matColumnDef="categoryId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let i"> {{ i.categoryId }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let i" style="display:flex; gap:4px;">
          <button mat-icon-button color="primary" (click)="edit(i)" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="delete(i)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row        *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
